
    <div class="card features border text-center main-features {{cardClass}} wow fadeInUp reveal revealleft active" data-wow-delay="0.1s">
      <div class="card-body">
        <div class="counter-body-2">
          <div class="bg-img mb-2 text-left hexagon-wrapper">
            <div class="counter-icon hexagon">
              <i class="{{icon}} text-white"></i>
            </div>
          </div>
        </div>
        <div class="text-left counter-body">
          <h4 class="fw-bold">{{ title }}</h4>
          <p class="mb-0">{{ description }}</p>
        </div>
      </div>
    </div>
  