<div class="fac-items">
  <div class="fac-col-all">
    <button
      class="fac-item fac-item--all"
      [class.active]="selectedFacilityId === allFacilitiesId"
      (click)="onClickAll()"
      type="button"
    >
      <div class="fac-left">
        <div class="name">All Facilities</div>
        <div class="total">Total buses: {{ allFacilitiesTotal }}</div>
      </div>
    </button>
  </div>

  <div class="fac-col-list">
    <div class="fac-scroll">
      <button
        class="fac-item"
        *ngFor="let f of facilities; trackBy: trackByFacilityId"
        [class.active]="f.id === selectedFacilityId"
        (click)="onClickFacility(f.id)"
        type="button"
      >
        <div class="fac-left">
          <div class="name">{{ f.name }}</div>
          <div class="total">
            Total buses: {{ getFacilityTotalById(f.id) }}
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
