
    <div class="card custom-card">
      <div class="card-body">
        <div class="card-order">
          <label class="main-content-label mb-3 pt-1">{{ label }}</label>
          <h2 class="text-end card-item-icon card-icon">
            <i [class]="icon + ' icon-size float-start text-primary'"></i>
            <span class="fw-bold">{{ value }}</span>
          </h2>
          <p class="mb-0 mt-4 text-muted">
            {{ description }}
            <span class="float-end">{{ subValue }}</span>
          </p>
        </div>
      </div>
    </div>
  