<div class="page main-signin-wrapper bg-primary construction">

    <!-- Start::container -->
    <div class="container ">
        <div class="construction1 text-center details text-fixed-white">
            <div class="">
                <a routerLink="/dashboard">
                    <img src="./assets/images/brand-logos/desktop-white.png" class="mb-5" alt="logo">
                </a>
                <h4 class="text-center text-fixed-white fs-30 fw-semibold ">We are Coming soon</h4>
                <p class="text-white-6 fs-15">We're making the system more awesome.we'll be back shortly.</p>
                <div class="row mt-4 gy-xxl-0 gy-3 mb-5 justify-content-center" id="timer">
                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="p-3 under-maintenance-time rounded"><p class="mb-1 fs-12 op-5">DAYS</p><h4 class="fw-semibold mb-0">{{days}}</h4></div></div>
                        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                            <div class="p-3 under-maintenance-time rounded"><p class="mb-1 fs-12 op-5">HOURS</p><h4 class="fw-semibold mb-0">{{hours}}</h4></div></div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6"><div class="p-3 under-maintenance-time rounded">
                                <p class="mb-1 fs-12 op-5">MINUTES</p><h4 class="fw-semibold mb-0">{{minutes}}</h4></div></div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6"><div class="p-3 under-maintenance-time rounded">
                                    <p class="mb-1 fs-12 op-5">SECONDS</p><h4 class="fw-semibold mb-0">{{seconds}}</h4></div></div></div>
            </div>
            <div class="text-center">© 2025  <a href="https://www.spruko.com/" class="text-white-6">Spruko</a> All rights reserved.</div>
        </div>
    </div>
    <!-- End::container -->

</div>
