/* You can add global styles to this file, and also import other style files */
@import "../public/assets/css/styles.css";
// -- Icons Css --
@import "../public/assets/css/icons.css";

@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css';
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/leaflet/dist/leaflet.css";
// angular material
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/dropzone/dist/dropzone.css';

//angular calendar 
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ngx-toastr/toastr.css";

//flatpicker
@import "../node_modules/flatpickr/dist/flatpickr.css";

// @ks98/modal gallery
@import '../node_modules/@angular/cdk/overlay-prebuilt.css';

@import '../node_modules/dropzone/dist/dropzone.css';
@import'../node_modules/filepond/dist/filepond.min.css';
@import "../node_modules/ngx-easy-table/style.css";

//ng2-nouislider
@import "../node_modules/nouislider/dist/nouislider.css";
@import '../node_modules/overlayscrollbars/styles/overlayscrollbars.css';

app-spk-alerts:last-child .alert {
    margin-bottom: 0;
}
.custom-alert1 {
    padding-inline: 0.65rem !important;
    padding-block: 2rem !important;
}
.no-caret.dropdown-toggle::after
{
    display: none;
}
.myNestedSwiper {
    height: 350px; /* Adjust based on your layout */
  }
  .custom-tabs{
    .tab-content .tab-pane{
      border:0px !important;
      padding:0 !important;
    }
  }
  .switcher-canvas.offcanvas-body {
    padding: 0 0 4.75rem 0; 
 }
 #switcher-canvas{
  width: auto;
  overflow: auto;
  .nav-link:focus,.nav-link.active {
        background-color: rgba(var(--primary-rgb),.2);
        color: var(--primary-color);
        border-color:transparent;
       
        border-radius:0;
        .nav-link:hover{
          color: var(--primary-color);
        }
    }

 .nav-link{
  font-weight:600;
 }
    .tab-content .tab-pane {
        padding: 0;
      
    }
   
 }
 #switcher-home, #switcher-profile {
    padding: 0;
}
.switcher-canvas-width{
  width: 27.5rem !important;
}
.switcher-canvas-width {
  .nav-link:focus, .nav-link:hover {
    color: var(--default-text-color);
  }
  .nav-link{
    border-radius: 0 !important;
  }
}
#switcher-home, #switcher-profile {
  padding: 0;
}
.card-pay{
  .nav-item,.nav-link {
    margin-inline-end: 0;
      border-radius: 0;
      color:var(--primary-color)
}
}

.input-group spk-flatpickr .form-control {
  border: 0 !important;
}
spk-flatpickr {
  padding: 0 !important;
}
.landing-testimonials {
  swiper-container {
      &::part(wrapper) {
          padding-block-end:0.5rem  !important;
      }
      &::part(bullet-active) {
          width: 1.25rem !important;
          height: 0.25rem !important;
          border-radius: 0.25rem !important;
          background: var(--primary-color)  !important;
          transform: scale(1);
          opacity: 1;
      } 
      &::part(bullet) {
          width: 1.25rem !important;
          height: 0.25rem !important;
          border-radius: 0.25rem !important;
          transform: scale(.66);
          background: var(--primary-color) !important;
          opacity: 0.3;
      }
  }
}
.swiper-pagination {
swiper-container {
  &::part(wrapper) {
      padding-block-end:0.5rem  !important;
  }
  &::part(bullet-active) {
      width: 1.25rem !important;
      height: 0.25rem !important;
      border-radius: 0.25rem !important;
      background: #fff !important;
      transform: scale(1);
      opacity: 1;
  } 
  &::part(bullet) {
      width: 1.25rem !important;
      height: 0.25rem !important;
      border-radius: 0.25rem !important;
      transform: scale(.66);
      background: #fff !important;
      opacity: 0.3;
  }
}
}
.mail-option .dropdown-menu>li.dropdown-item>a {
  color: #8f9cc0;
}
swiper-container{
  &::part(button-next) {
  width:1rem !important;
  height:1rem !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
  padding:5px;
}
}
swiper-container{
  &::part(button-prev) {
  width:1rem !important;
  height:1rem !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
  padding:5px;
  opacity:1;
}
}
.dropup-1 .dropdown-toggle::after {
  display: inline-block;
  margin-inline-start: 0.25rem;
  vertical-align: 0;
  content: "\F286";
  font-family: bootstrap-icons !important;
  border: 0;
  font-size: 0.6rem;
  font-weight: 600;
}
.bootstrap tag{
  color: #f9f9f9 !important;
  background: var(--primary-color) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  height: 23px !important;
  line-height: 23px !important;
}
.bootstrap.ng2-tag-input {
  border-bottom: 0px solid #efefef !important;
}
.ng2-tag-input__text-input{
  background-color: transparent; 
  color:var(--custom-black);
  height: 26px !important;
}
tag:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover{
   box-shadow:0 2px 3px 1px var(--primary-color) !important;
}
.form-floating .mat-mdc-form-field {
  display: inline !important;
  .mat-mdc-select-value-text {
    color: var(--default-text-color) !important;
  }
  .mat-mdc-select-arrow svg {
    fill: var(--default-text-color);
  }
  .mat-mdc-select-placeholder{
    color: var(--default-text-color) !important;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--form-control-bg) !important;
  border: 1px solid var(--input-border);
}
.notification-basic{
  background: #ebebeb;
}
.number-format {
  text-align: left !important;
}
.apexcharts-svg, .apexcharts-canvas {
  width: 100% !important;
}
// [dir="rtl"] .apexcharts-toolbar {
//   left: 3px !important;
//   right: inherit !important;
// }
.buy-sell{
  .ng-select .ng-select-container .ng-value-container {
      align-items: center;
      padding-left: 16px !important;
  }
}
.crypto-buysell-card,.productdetails-quantity{
  .ng-clear-wrapper {
      display: none;
  }
}
// .NgxEditor__Content p {
//   display: none;
// }
.mail-option .dropdown-menu>li.dropdown-item:hover>a {
  color: var(--primary-color) !important;
}
.mail-option .dropdown-menu>li.dropdown-item:hover {
  background: rgb(var(--light-rgb)) !important;
  color: var(--primary-color) !important;
}
.mat-mdc-paginator .mat-mdc-select, .mat-mdc-option .mdc-list-item__primary-text, .mat-mdc-select-arrow {
  color: var(--default-text-color) !important;
}
div.mat-mdc-select-panel {
  background-color: var(--form-control-bg) !important;
}
#chartjs-line, #chartjs-bar, #chartjs-pie, #chartjs-doughnut, #chartjs-mixed, #chartjs-scatter, #chartjs-polar, #chartjs-radar, #chartjs-bubble, spk-apex-charts, apx-chart
 {
    display: block;
    width: 100%;
}
.main-header-container {
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color:var(--default-background) !important;
    color: var(--primary-color) !important;
  }
}
.product-checkout .tab-pane {
  padding: 0;
}
[dir="rtl"]  {
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 30px !important;
    padding-right: 10px !important;
  }

}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-right: 30px !important;
}

.task-custom .task-list:after {
  height: 92%;
}
.mat-mdc-paginator-range-actions {
  flex-wrap: wrap;
}
ngb-toast {
  margin-bottom: 1.5rem;
}
.nav-price {
  .nav-item {
    margin: 0;
    .nav-link {
      border-radius: 0;
    }
  }
}
.custom-inputGroup {
  spk-flatpickr {
    margin-inline-start: 0 !important;
  }
}
@media (min-width: 992px) {
  .bg-img , [data-bg-img=bgimg1] , [data-bg-img=bgimg2] , [data-bg-img=bgimg3] , [data-bg-img=bgimg4] , [data-bg-img=bgimg5]  {
      &[data-nav-layout="vertical"][data-theme-mode="dark"][data-menu-styles="light"] {
          &[data-nav-style=menu-hover], 
          &[data-nav-style=menu-click], 
          &[data-nav-style=icon-hover], 
          &[data-nav-style=icon-click] {
                  border-bottom-color: rgba(0, 0, 0, 0.04);
              }
          }
      }

  }
  [data-header-styles="transparent"][data-theme-mode="light"] {
    .main-header-container {
        .ng-select .ng-select-container {
            background-color: transparent !important;
            border: 1px solid var(--header-border-color) !important;
        }
    }   
}
@media (min-width: 992px) {
  [data-nav-layout="vertical"][data-menu-styles="color"] {
      &[data-nav-style=menu-hover][data-toggled=menu-hover-closed], 
      &[data-nav-style=menu-click][data-toggled=menu-click-closed], 
      &[data-nav-style=icon-hover][data-toggled=icon-hover-closed], 
      &[data-nav-style=icon-click][data-toggled=icon-click-closed] {
          &[data-page-style=classic] .app-sidebar {
              border-inline-end: 0px solid transparent;
          }
      }
  }
}

  [dir=rtl] #column-rotated-labels .apexcharts-canvas {
    direction: rtl !important;
}

/* New Styles */
#ongoingprojects,#ongoingprojects2 {
  .apexcharts-tooltip-series-group.apexcharts-active {
    color: #fff !important;
    background-color: #011626 !important;
  }
}
[data-theme-mode="dark"] {
  .main-header-container .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }
}
[data-menu-styles="dark"] {
  &[data-bg-img="bgimg1"],&[data-bg-img="bgimg2"],&[data-bg-img="bgimg3"],&[data-bg-img="bgimg4"],&[data-bg-img="bgimg5"] {
    .app-sidebar .slide.has-sub .slide-menu {
        &.child1,&.child2,&.child3 {
          background-color: #011626 !important;
        }
    }
  }
}
.app-header .main-header-container {
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 10px;
  }
}
#bitcoin {
  .apexcharts-grid line, .apexcharts-xaxis line, .apexcharts-grid-borders line {
    stroke: transparent;
  }
}
@media (max-width: 420px) {
  .table-filter input {
    width: 180px;
  }
}
.ngx-table {
  font-size: 0.875rem;
  font-family: inherit;
}
.mat-mdc-table .mat-mdc-header-cell { 
  z-index: 99 !important;
}
.alert.custom-alert1 .btn-close {
  position: absolute;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}
#tab-style-4 .tab-pane {
  padding: 1rem;
}
.os-theme-dark {
  --os-handle-bg: rgb(175 175 175 / 44%); 
}
[data-nav-layout="horizontal"] {
  &[data-nav-style="menu-click"],&[data-nav-style="menu-hover"],&[data-nav-style="icon-click"],&[data-nav-style="icon-hover"] {
    .app-sidebar .slide.has-sub .slide-menu.child3 {
      inset-inline-start: 11.3rem !important;
    }
  } 
}
.apexcharts-tooltip-active {
  .apexcharts-tooltip.apexcharts-theme-dark {
    background-color: #011626 !important;
    .apexcharts-tooltip-series-group.apexcharts-active {
      color: #fff !important;
    }
  }
}
ul.productdetails {
  .nav-item:last-child {
    margin-inline-end: 0.5rem;
  }
}
/* New Styles */
@media(min-width:992px){
  [data-nav-layout="horizontal"] {
    &[data-nav-style="icon-click"],&[data-nav-style="icon-hover"] {
      .slide-left, .slide-right{
        display:none !important;
      }
    }
  }
}

/* Spin animation for loading states */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

/* Ensure drag preview has transparent background for PNG buses */
.cdk-drag-preview {
  background: transparent !important;
  box-shadow: none !important;
}

.cdk-drag-preview .bus--img {
  background-color: transparent !important;
}

.cdk-drag-preview .bus-image {
  background-color: transparent !important;
}
