<app-page-header [title]="'Apex Heatmap Charts'" [activeitem]="'Apex Heatmap Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-basic">
                    <spk-apex-charts  [chartOptions]="chartOptions"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Multi Series Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-multiseries">
                    <spk-apex-charts  [chartOptions]="chartOptions1"></spk-apex-charts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Color Range Heatmap Chart</div>
            </div>
            <div class="card-body">
                <div id="heatmap-colorrange">
                    <spk-apex-charts  [chartOptions]="chartOptions2"></spk-apex-charts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Heatmap Range Without Shades</div>
            </div>
            <div class="card-body">
                <div id="heatmap-range">
                    <spk-apex-charts  [chartOptions]="chartOptions3"></spk-apex-charts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->