<app-page-header [title]="'Apex Bar Charts'" [activeitem]="'Apex Bar Charts'" [title1]="['Apex Charts']"></app-page-header>

<!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-basic">
                    <spk-apex-charts [chartOptions]="chartOptions"></spk-apex-charts>
                
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Grouped Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-group">
                    <spk-apex-charts [chartOptions]="chartOptions1"></spk-apex-charts>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stacked Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-stacked">
                    <spk-apex-charts [chartOptions]="chartOptions2"></spk-apex-charts>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">100% Stacked Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-full">
                    <spk-apex-charts [chartOptions]="chartOptions3"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar Chart With Negative Values</div>
            </div>
            <div class="card-body">
                <div id="bar-negative">
                    <spk-apex-charts [chartOptions]="chartOptions4"></spk-apex-charts>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar Chart With Markers</div>
            </div>
            <div class="card-body">
                <div id="bar-markers">
                    <spk-apex-charts [chartOptions]="chartOptions5"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Reversed Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-reversed">
                    <spk-apex-charts [chartOptions]="chartOptions6"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar With Category DataLabels</div>
            </div>
            <div class="card-body">
                <div id="bar-categories">
                    <spk-apex-charts [chartOptions]="chartOptions7"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Patterned Bar Chart</div>
            </div>
            <div class="card-body">
                <div id="bar-pattern">
                    <spk-apex-charts [chartOptions]="chartOptions8"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Bar With Image Fill</div>
            </div>
            <div class="card-body">
                <div id="bar-image">
                    <spk-apex-charts [chartOptions]="chartOptions9"></spk-apex-charts>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->