<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" 
[yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [markers]="chartOptions.markers" [responsive]="chartOptions.responsive"
[dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"  [annotations]="chartOptions.annotations"
[grid]="chartOptions.grid" [colors]="chartOptions.colors" [labels]="chartOptions.labels" [subtitle]="chartOptions.subtitle"
[title]="chartOptions.title" [fill]="chartOptions.fill" [legend]="chartOptions.legend" [theme]="chartOptions.theme"
[plotOptions]="chartOptions.plotOptions" [tooltip]="chartOptions.tooltip">
</apx-chart>