<!-- src/app/components/charts/chartjs-charts/chartjs-charts.component.html -->


<div class="row">
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Chartjs Doughnut Chart</div>
      </div>
      <div class="card-body">
        <spk-chartjs2
          id="chartjs-doughnut"
          [data]="PieChartData"
          [options]="PieChartOptions"
          [type]="DoughnutChartType">
        </spk-chartjs2>
      </div>
    </div>
  </div>
</div>